API_ID=27480600 # get this value from my.telegram.org
API_HASH=be297df3a51b0b499ff8d0b4b14d51c7 # get this value from my.telegram.org
BOT_TOKEN=7227577890:AAEmM3l_Lh09D3cpcj9BtUek3I9_GGgMpXo # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://erkbwrs084:909090@cluster0.qdrfgmb.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1002238574089 # get this value from in your log group 
MUSIC_BOT_NAME=Pulse Music Bot # your music bot name 
STRING_SESSION=BAGjUhgAgwv8DQIcGzZJpKqEbapFyFH_54YaELbkk3BcrG_30vc952qU-jquhCL8y0JcL5on7oy9Hl7txZ8_Bm9mSfHBNrWFgHmFEUlKvLA79UoLxfqMHQquXiqz5qGSyM1ZD-27NDWK2hzXa-BqWN-KFzw11n45HOTcc1givGtv1ZQYB79JQQnWY2whfDacpnik6aVOnEunaJysnMcq3cg2Yxo4TVeQRn96nKQa30j6pFLQdEfVVZ0hygAtJvGvxmEbR6Vpd9qtqykz2kQLaEKJ9gy8d_1huQI30POqTJl9w1ymm8fwavpwASG5mQMKh_3rLcK843ZZtyjjhNhgsQu0cdxXHwAAAAGN3a_iAA # get this value from @ArchStringBot
